<!DOCTYPE html>
<html lang="en">
    <head>
    </style>
        <%- include('../partials/head'); %>
        <title>NiiCode</title>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
    </div>
        <div class="row mx-0 d-flex justify-content-evenly" style="margin-top:5px">
            <div class="col-sm-12 col-md-8 px-0" style="flex-grow: 1">
                <object data="https://storage.googleapis.com/zachary-portfolio-blog.appspot.com/ZacharyPeralesResume.pdf" type="application/pdf" style="min-height:100vh;width:100%"></object>
            </div>
            <div class="col-sm-12 col-md-4 px-0">
                <object data="https://storage.googleapis.com/zachary-portfolio-blog.appspot.com/ZacharyPeralesPhoto.jpg" style="height:100vh;width:100%"></object>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <iframe src="https://embed.tidal.com/playlists/076e93ae-4798-4503-a9ce-4cdadf320d13?layout=playlist?autoplay=1" frameborder="0" allowfullscreen style="position: relative; top: 0; left: 0; width: 100%; height: 350px; min-height: 100%; margin: 0  auto;" allow='autoplay'></iframe></div>
        </div>
        <%- include('../partials/body'); %>
    </body>
    <hr style="margin:5px">
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>
