<!DOCTYPE html>
<html lang="en">
    <head>
    <style>
        .title_black {
            background: black;
            font-family: "Comic Sans MS";
            display:inline;
            font-size: 180px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .title_blue {
            background: blue;
            font-family: "Comic Sans MS";
            display:inline;
            font-size: 180px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .title_red {
            background: red;
            font-family: "Comic Sans MS";
            display:inline;
            font-size: 180px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>
        <%- include('../partials/head'); %>
        <title>NiiCode</title>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body style="height: 100vh">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto text-center">
                    <br>
                    <br>
                    <p class="title_black">N</p><p class="title_blue">i</p><p class="title_red">i</p><p class="title_black">Code</p>
                    <br>
                    <ul style="list-style: none;">
                        <li>Single-Page Application</li>
                        <br>
                        <li>Hosting — Google Cloud Platform: App Engine, Cloud Build w/ YAML, Cloud Trigger w/ GitHub Webhook</li>
                        <br>
                        <li>Frontend — Bootstrap 5: HTML, CSS, and JavaScript</li>
                        <br>
                        <li>Backend — Node.js: Express and JavaScript</li>
                    </ul>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <%- include('../partials/body'); %>
    </body>
    <hr>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>
