<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>NiiCode</title>

</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>
<div class="container-fluid d-flex flex-wrap">
    <object class="col-sm-12 col-md-8 my-1 align-self-stretch" data="https://storage.googleapis.com/zachary-portfolio-blog.appspot.com/ZacharyPeralesResume.pdf" type="application/pdf"></object>
    <object class="col-sm-12 col-md-4 mb-1 mt-md-1 portrait" data="https://storage.googleapis.com/zachary-portfolio-blog.appspot.com/ZacharyPeralesPhoto.jpg"></object>
    <iframe class="tidal" src="https://embed.tidal.com/playlists/076e93ae-4798-4503-a9ce-4cdadf320d13?layout=playlist?autoplay=1"></iframe>
</div>
<style>
    @media (max-width: 767.98px) {
        .align-self-stretch {
            height: 500px;
            width: 100%;
            max-width: none;
        }
    }
    @media (min-width: 575.98px) {
        .portrait {
            max-width: 100%;
        }
        .tidal {
            width: 100%;
            height: 400px;
            min-height: 100%;
        }
    }
</style>
<%- include('../partials/body'); %>
</body>
<hr style="margin:4px">
<%- include('../partials/footer'); %>
</html>
