<!DOCTYPE html>
<html lang="en">
    <head>
    </style>
        <%- include('../partials/head'); %>
        <title>NiiCode</title>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body>
        <div class="d-flex justify-content-center" style="margin-top:5px">
            <div>
                <object data="https://docs.google.com/gview?embedded=true&url=https://storage.googleapis.com/zachary-portfolio-blog.appspot.com/ZacharyRomePeralesResume.pdf" type="application/pdf" style="min-height:100vh;width:100%"></object>
            </div>
            <div>
                <object data="https://storage.googleapis.com/zachary-portfolio-blog.appspot.com/ZacharyPeralesPhoto.jpg" style="height:100vh;width:100%"></object>
            </div>
        </div>
    </body>
    <hr style="margin:0px">
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>
