<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <title>NiiCode</title>
    </head>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <body style="height: 100vh">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto text-center">
                    <br>
                    <br>
                    <h1>Simple Single-Page Application</h1>
                    <br>
                    <ul style="list-style: none;">
                        <li>Hosting — Google Cloud Platform: App Engine, Cloud Build (YAML files), Cloud Trigger (GitHub Webhook)</li>
                        <li>Frontend — Bootstrap 5: HTML, CSS, and JavaScript</li>
                        <li>Backend — Node.js: Express and JavaScript</li>
                    </ul>
                    <br>
                    <br>
                </div>
            </div>
        </div>

        <%- include('../partials/body'); %>
    </body>
    <hr>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</html>
