<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>NiiCode</title>
    <!-- remove link to style.css -->
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>
<div class="container-fluid d-flex flex-wrap justify-content-center">
    <div class="col-11 col-md-8 my-1 embed-responsive-16by9">
        <object class="embed-responsive-item w-100 h-100 doc" data="https://storage.googleapis.com/zachary-portfolio-blog.appspot.com/ZacharyPeralesResume.pdf" type="application/pdf"></object>
    </div>
    <object class="col-11 col-md-3 mb-1 mt-md-1 portrait" data="https://storage.googleapis.com/zachary-portfolio-blog.appspot.com/ZacharyPeralesPhoto.jpg"></object>
    <div class="col-11 custom-width embed-responsive">
        <iframe class="embed-responsive-item item w-100 tidal" src="https://embed.tidal.com/playlists/076e93ae-4798-4503-a9ce-4cdadf320d13?layout=playlist&amp;autoplay=1"></iframe>
    </div>

</div>
<style>
    .tidal {
        min-height: 400px;
    }

    .portrait {
        max-width: 100%;
    }

    @media (max-width: 767.98px) {
        .doc {
            min-height: 355px;
        }
    }

    @media (min-width: 768px) {
        .portrait {
            margin-left: 4px;
        }
        .col-11.custom-width {
            width: calc(91.666666667% + 4px);
            max-width: calc(91.666666667% + 4px);
        }
    }
</style>
<%- include('../partials/body'); %>
</body>
<!-- move hr after footer -->
<hr style="margin-bottom:4px; margin-top:0px">
<%- include('../partials/footer'); %>
</html>