<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>NiiCode</title>
    <!-- remove link to style.css -->
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<body>

</body>
</style>
<%- include('../partials/body'); %>
</body>
<!-- move hr after footer -->
<hr style="margin-bottom:4px; margin-top:0px">
<%- include('../partials/footer'); %>
</html>